$black: #1c2f3f;
$white: #fff;

$lt-gray: #ededed;
$dk-gray: #979797;

$yellow: #e5d458;
$indigo: #3a7bc2;
$sky: #1fa3e5;
$aqua: #20bec0;
$turquoise: #7cc881;
$lime: #a6d14e;

$pink: #e4b8b0;

$slate: #d5dee3;
