$slider-width: 90px;
$slider-track-height: 5px;
$slider-border-radius: 10px;
$slider-thumb-diameter: 15px;

// Highest Leaflet z-index appears to be 1000
$z-index-demos-menu: 1100;
$z-index-tour: 1101;
$z-index-modal: 1102;
