.layer-card-list {
    display: flex;
    flex-direction: column;
    position: relative;
    > .layer-card {
        margin: 0.4rem 1rem;
    }

    &.-action {
        > .layer-card {
            background: linear-gradient(to right, $black 36px, $white 36px);
            order: 2;
            > .action-panel {
                @include invisible;
            }
            > .layer-actions {
                @include disabled;
            }
            > .layer-text {
                > .model-actions {
                    @include disabled;
                }
                > .checkbox-label > .checkbox {
                    + .icon:after {
                        border-color: $white;
                        background-color: $black;
                        content: "\2002\2002";
                    }
                }
            }
            &.-on {
                > .layer-text > .checkbox-label {
                    > .checkbox {
                        + .icon:after {
                            content: "\2002\2002";
                       }
                    }
                }
            }
            &.-selected {
                order: 1;
                > .layer-text > .checkbox-label {
                    > .checkbox {
                        + .icon:after {
                            color: $black;
                            background-color: $white;
                            content: "\e808";
                        }
                    }
                }
            }
        }
        &.-complete {
            @extend .-action;
            >.layer-card:not(.-selected) {
                @include disabled;
            }
        }
    }
}
