    <!-- don't change the order, or the sidebar will get the map after being checked -->
    <div gdMapWrapper [(mask)]="mask" [view]="sidebar.view" #mapContainer class="map-container" [isCollapsed]="sidebar.isCollapsed" [class.-collapsed]="sidebar.isCollapsed"
        leaflet [leafletOptions]="options" [leafletLayers]="sidebar.layers" (leafletMapReady)="map=$event" [(hasMask)]="hasMask">
    </div>
    <button class="delete" (click)="deleteDraw()" *ngIf="hasMask">Reset Area</button>
    <gd-sidebar-section #sidebar [cards]="cards" [(mask)]="mask" [map]="map" class="sidebar-section" [class.-collapsed]="sidebar.isCollapsed" (hasMaskChange)="hasMask=$event">
    </gd-sidebar-section>

