@mixin delinkify($color : inherit) {
    &:link, &:visited, &:focus, &:hover, &:active {
        color: $color;
        text-decoration: none;
    }
}

@mixin buttonify($color : $black) {
    display: inline-block;
    text-align: center;
    color: $white;
    background-color: $color;
    padding: 0 1.5em;
    border-radius: 1px;
    text-transform: uppercase;
}

@mixin debuttonify($color : inherit) {
    appearance: none;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    background: none;
    color: $color;
    text-align: left;
}

@mixin invisible {
    opacity: 0;
    pointer-events: none;
}

@mixin visible {
    opacity: 1;
    pointer-events: auto;
}

@mixin icon-font($content : ' ') {
    content: $content;
    direction: ltr;
    display: inline-block;
    font-family: 'Material Icons';
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
