// Checkbox
$checkbox-width: 18px;
// Slider
$track-color:$grey-light !default;
$thumb-color: $white !default;

$thumb-radius: 12px !default;
$thumb-height: 14px !default;
$thumb-width: 14px !default;
$thumb-border-width: 2px !default;
$thumb-border-color: $grey-heavy !default;

$track-width: 30% !default;
$track-height: 4px !default;
$track-border-width: 0 !default;
$track-border-color: transparent !default;

$track-radius: 5px !default;
$contrast: 5% !default;