<!-- layer-header -->
<div class="layer-header">
  <label class="checkbox-label">
        <ng-container *ngIf="!isSingle">
                <input #checkLayer class="checkbox" type="checkbox" [checked]="show" (click)="showChange.emit(checkLayer.checked)">                       
                <span class="icon"></span>
        </ng-container>
             
  {{title}}
  </label>
  <!-- layer-actions -->
  <div class="layer-actions">
    <button gdActionBtn [action]="action" [(expanded)]="this.expanded" (expandedChange)="this.expandedChange.emit(action)" *ngFor="let action of layerActions | keys"
      [class.-clicked]="action === expanded" [class]="'action icon-'+action"></button>
  </div>
  <!-- /layer-actions -->
</div>
<!-- /layer-header -->
<!-- layer-selector -->
<div *ngIf="presets" class="layer-selector" [class.-single]="isSingle">
  <select #preset jsClass="location-modeling" class="dropdown" (input)="getPreset(preset.value)" [disabled]="!show">
        <option *ngFor="let preset of presets; index as i" [value]="preset.value" [selected]="i==0">{{preset.text}}</option>
        <option *ngIf="preset.value === undefined" #custom [value]="undefined">{{preset.text}}</option>                            
    </select>
</div>
<!-- /layer-selector -->
<!-- action-panel group -->
<!-- info-action-panel -->
<div *ngIf="layerActions.info" class="action-panel" [class.-expanded]="'info' === expanded">
  <p class="text">
    {{infoText}}
  </p>
  <p *ngIf="palette" class="legend">
    Avoid
    <span class="colorspan">
      <ng-container *ngIf="!palettes">
        <span class="color" *ngFor="let color of palette" [style.background-color]="color"></span>
      </ng-container>
      <ng-container *ngIf="palettes">
        <button class="selector" (click)="showMenu=!showMenu">
          <img class="legend" [src]="'http://demo.geotrellis.com/chatta/img/ramps/'+palette+'.png'">
        </button>
        <div *ngIf="showMenu" class="panel">
          <button *ngFor="let color of palettes" class="legend-btn" (click)="paletteChange.emit(color)">
            <img #selection class="image" [src]="'http://demo.geotrellis.com/chatta/img/ramps/'+color+'.png'">
          </button>
        </div>
      </ng-container>
    </span>
    Prefer
  </p>
</div>
<!-- /info-action-panel -->
<!-- params-action-panel -->
<div *ngIf="layerActions.params" class="action-panel" [class.string]="!quant" [class.-expanded]="'params' === expanded">
  <header class="title">
    <h4 class="heading">Factor</h4>
    <h4 class="heading">{{quant ? 'Weight' : 'Selection'}}</h4>
  </header>
  <ul class="params-list">
    <ng-container *ngIf="quant">
        <gd-param-item *ngFor="let fakeId of fakeArr; index as i;" [(value)]="this.values[i]" (valueChange)="this.valuesChange.emit(this.values)"
        [param]="this.quant.text[i]" class="param-item" [range]="this.quant.range">
      </gd-param-item>
    </ng-container>
    <ng-container *ngIf="qual">
        <gd-param-item #item *ngFor="let fakeId of fakeArr; index as i;" [(value)]="this.values[i]" (valueChange)="this.valuesChange.emit(this.values)"
        [param]="this.objKeys(this.qual)[i]" class="param-item" [selection]="this.qual[this.objKeys(this.qual)[i]]">
      </gd-param-item>
    </ng-container>
  </ul>
</div>
<!-- /params-action-panel -->
<!-- opacity-action-panel -->
<div *ngIf="layerActions.opacity" class="action-panel" [class.-expanded]="'opacity' === expanded">
  <label class="slider-label">
    Opacity:<span class="value">{{slider.value | percent:0}}</span>
    <input #slider class="slider" type="range" min="0" max="1" step="0.01" value="0.6" (mouseup)="opacityChange.emit(slider.value)">
  </label>
</div>
<!-- /opacity-action-panel -->
<!-- model-actions(optional) -->
<span class="model-actions" *ngIf="modelActions">
  <ng-container *ngFor="let action of modelActions | keys">
    <button gdActionBtn [action]="action" [(expanded)]="this.expanded" [ngClass]="{'-disabled': !summary || !this.show, '-clicked': action === expanded && this.show}" [class]="'action -light icon-' + action">Model Summary</button>
  </ng-container>
</span>
<!-- /model-actions(optional) -->
<!-- summary-panel (optional) -->
<div *ngIf="summary && show" class="action-panel" [class.-loading]="isLoading" [class.-expanded]="'summary' === expanded">
  <div *ngIf="isLoading" class="loading icon-loading animate-spin"></div>
  <table *ngIf="!isLoading" class="summary-table">
    <tbody *ngIf="summary.total">
      <tr class="heading">
        <th></th>
        <th>Total Score</th>
        <th>{{summary.total}}</th>
      </tr>
      <tr *ngFor="let param of quant['text']; index as i">
        <td>{{this.values[i]}}</td>
        <td>{{param | rejoin:"_" | titlecase}}</td>
        <td>{{summary.layers[i]}}</td>
      </tr>
    </tbody>
    <tbody>
      <!-- point -->
      <ng-container *ngIf="summary.value || summary.value === 0">
        <tr>
          <td>Elevation (m)</td>
          <td>{{summary.value}}</td>
        </tr>

      </ng-container>
      <!-- poly -->
      <ng-container *ngIf="summary.mean || summary.mean === 0">
        <tr>
          <td>Average Elevation (m)</td>
          <td>{{summary.mean}}</td>
        </tr>
        <tr>
          <td>Minimum Elevation (m)</td>
          <td>{{summary.min}}</td>
        </tr>
        <tr>
          <td>Maximum Elevation (m)</td>
          <td>{{summary.max}}</td>
        </tr>
      </ng-container>
    </tbody>

    <tbody>
      <!-- point -->
      <ng-container *ngIf="summary.value1 || summary.value1 === 0">
        <tr *ngFor="let i of ['value1', 'value2']">
          <td>Snow {{i === 'value1' ? 'On' : 'Off'}} Elevation (m)</td>
          <td>{{summary[i]}}</td>
        </tr>

      </ng-container>
      <!-- poly -->
      <ng-container *ngIf="summary.volume || summary.volume === 0">
        <tr>
          <td>Average Elevation (m)</td>
          <td>{{summary.mean}}</td>
        </tr>
        <tr>
          <td>Minimum Elevation (m)</td>
          <td>{{summary.min}}</td>
        </tr>
        <tr>
          <td>Maximum Elevation (m)</td>
          <td>{{summary.max}}</td>
        </tr>
        <tr>
          <td>Volume Change (m<sup>3</sup>)</td>
          <td>{{summary.volume}}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
<!-- /summary-panel (optional) -->