.analysis-options {
    display: none;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: flex-start;

    &.-on {
        display: flex;
    }

    > .sidebar-header {
        margin: .8rem 0;
    }

    > .button {
        @include buttonify($indigo);
        display: block;
        margin: 1.6rem;
        font: $font-subheader;
    }
}
