.app-header {
    display: flex;
    position: relative;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: $black;
    color: $white;

    > .demo-switcher {
        flex: none;
        align-self: stretch;
        width: auto;
        margin: 0 .8rem 0 1.6rem;
    }

    > .heading {
        display: flex;
        flex: auto;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        min-width: 0;
        margin: auto .8rem;

        > .name {
            font: $font-title;
            font-weight: $font-weight-bold;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        > .button {
            @include debuttonify;
            flex: none;
            margin-left: .8rem;
            line-height: 1em;
        }
    }

    > .tourbutton {
        @include debuttonify($white);
        flex: none;
        height: 3.2rem;
        margin: auto 1.6rem auto .8rem;
        padding: 0 1.6rem;
        border: 1px solid $white;
        font: $font-body;
        font-weight: $font-weight-normal;
        text-align: center;
    }
}
