.layer-header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;

    > .toggle {
        flex: none;
        width: 1.8rem;
        height: 1.8rem;
        margin: .2rem .8rem 0 0;

        .layer-card.-singleton & {
            display: none;
        }
    }

    > .heading {
        flex: auto;
        margin: 0;
        font: $font-subheader;
        font-weight: $font-weight-bold;
        line-height: 1;
        text-align: left;

        .layer-card:not(.-on) & {
            opacity: .5;
        }
    }
}
