.layer-overview {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: center;
    min-height: 5.6rem;
    padding: .8rem 0;

    .layer-group:not(.-on) & {
        opacity: .5;
    }

    .layer-card.-on:not(.-singleton) & {
        cursor: pointer;
    }

    > .layer-header {
        margin: .8rem 0;
    }

    > .dropdown {
        .layer-card:not(.-on) & {
            opacity: .5;
        }
    }
}
