.modal-overlay {
    @include invisible;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba($black, .6);
    z-index: $z-index-modal;

    &.-menu {
        background-color: transparent;
    }

    &.-on {
        @include visible;
    }

    > .modal-dialog {
        width: 64rem;
        max-width: 100%;
        height: 48rem;
        box-shadow: box-shadow(5);
    }

    > .modal-menu {
        position: absolute;
        width: 14.4rem;
        box-shadow: box-shadow(2);
    }
}
