.sidebar-content.-layers {

    &.-singleton > .-singleton {
        display: block;
    }

    &.-multiple-layers > .-multiple-layers {
        display: block;
    }

    &.-multiple-layers > .sidebar-header.-multiple-layers {
        display: flex;
    }

    > * {
        display: none;
    }

    > .layer-card {
        margin: .8rem 0;
    }
}
