.sidebar-content.-layers {

    &.-singleton > .-singleton {
        display: block;
    }

    &.-multiple-layers > .-multiple-layers {
        display: block;
    }

    &.-multiple-layers > .sidebar-header.-multiple-layers {
        display: flex;
    }

    &.-modal > .sidebar-header:not(.-modal) {
        display: none;
    }

    &.-compare-mode > .sidebar-header.-compare-mode,
    &.-diff-mode > .sidebar-header.-diff-mode {
        display: flex;
    }

    > * {
        display: none;
    }

    > .layer-card {
        margin: .8rem 0;
    }
}
