.sidebar-header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    min-height: 4rem;

    > .heading {
        flex: auto;
        min-width: 0;
        margin: 0;
        font: $font-title;
        font-weight: $font-weight-bold;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    > .button {
        @include buttonify($indigo);
        flex: none;
        margin-left: 1.6rem;
        font: $font-caption;
        cursor: pointer;
    }

    &.-multiple-layers {
        > .heading {
            padding-left: .8rem;
            font: $font-body;
            font-weight: $font-weight-bold;
        }

        > .button {
            padding-right: .5em;
            padding-left: .5em;
            background-color: transparent;
        }
    }

    &.-modal {
        display: none;
        align-items: baseline;
        min-height: 4.8rem;
        margin-top: -.8rem;
        margin-right: -1.6rem;
        margin-left: -1.6rem;
        padding: .8rem 1.6rem;

        &.-compare-mode {
            background-color: $turquoise;
        }

        &.-diff-mode {
            background-color: $aqua;
        }

        > .heading {
            flex: none;
            margin-right: 1.6rem;
            font: $font-title;
        }

        > .text {
            font: $font-caption;
        }

        > .button {
            @include buttonify(transparent);
            flex: none;
            align-self: center;
            margin: 0;
            margin-left: auto;
            padding: 0;
        }
    }
}
