.sidebar-content {
    display: none;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: flex-start;
    padding: .8rem 1.6rem;
    overflow-y: scroll;

    &.-on {
        display: flex;
    }
}
