<label class="checkbox-label" [class.-inactive]="check.checked">
  <input #check class="checkbox" type="checkbox" (click)="neglectParam(desc.value, num.value)">                       
  <span class="icon"></span>
</label>
<select #desc class="desc" (change)="updateWeight(desc.value, num.value)">
  <option value="1" [selected]="weight>0">Near</option>
  <option value="-1" [selected]="weight<0">Far</option>
</select>
<span class="name">{{param | rejoin:"_" | titlecase}}</span>
<select #num class="num" (change)="updateWeight(desc.value, num.value)" >
  <option *ngFor="let val of genRange(range)" [value]="val" [selected]="val===abs(weight)">{{val}}</option>
</select>