.checkbox-label {
    display: inline-flex;
    vertical-align: middle;
    > input {
        @include invisible;
    }
    > .checkbox {
        + .icon {
            margin-right: 1.6rem;
        }
        + .icon:after {
            width: 1.6rem;
            height: 1.6rem;
            border: 0.1rem solid $black;
            border-radius: 0.2rem;
            font-size: 1.6rem;
            font-family: 'fontello';      
            content: "\e808";
        }
    }
}