<!-- layer-header -->
<div class="layer-header">
    <label class="checkbox-label">
        <ng-container *ngIf="!isSingle">
                <input #checkLayer class="checkbox" type="checkbox" [checked]="show" (click)="showChange.emit(checkLayer.checked)">                       
                <span class="icon"></span>
        </ng-container>
             
  {{title}}
  </label>
    <!-- layer-actions -->
    <div class="layer-actions">
        <button gdActionBtn [action]="action" [(expanded)]="this.expanded" (expandedChange)="this.expandedChange.emit(action)" *ngFor="let action of actions"
            [class.-clicked]="action==expanded" [class]="'action icon-'+action"></button>
    </div>
    <!-- end of layer-actions -->
</div>
<!-- end of layer-header -->
<!-- layer-selector -->
<div *ngIf="presets" class="layer-selector" [class.-single]="isSingle">
    <select #preset jsClass="location-modeling" class="dropdown" (input)="getPreset(preset.value)">
        <option *ngFor="let preset of presets; index as i" [value]="preset.value" [selected]="i==0">{{preset.text}}</option>
        <option *ngIf="preset.value==undefined" #custom [value]="undefined">{{preset.text}}</option>                            
    </select>
</div>
<!-- end of layer-selector -->
<!-- action-panel group -->
<!-- info-action-panel -->
<div class="action-panel" [class.-expanded]="'info'==expanded">
    <p class="text">
        {{infotext}}
    </p>
    <p *ngIf="palette" class="legend">
        Avoid
        <span [ngSwitch]="name" class="colorspan">
            <ng-container *ngSwitchCase="'lm'">
                <span class="color" *ngFor="let color of palette" [style.background-color]="color"></span>
        </ng-container>
        <ng-container *ngSwitchCase="'chatta'">
            <button class="selector" (click)="showMenu=!showMenu">
                    <img class="legend" [src]="'http://demo.geotrellis.com/chatta/img/ramps/'+palette+'.png'">
                </button>
            <div *ngIf="showMenu" class="panel">
                <button *ngFor="let color of palettes" class="legend-btn" (click)="paletteChange.emit(color)">
                        <img #selection class="image" [src]="'http://demo.geotrellis.com/chatta/img/ramps/'+color+'.png'">
                    </button>
            </div>
        </ng-container>
        </span>
        Prefer
    </p>
</div>
<!-- end of info-action-panel -->
<!-- weight-action-panel -->
<!-- TO DO: rename: weight-panel since it contains more than 'weight' -->
<div [class]="'action-panel '+type" [class.-expanded]="'weight'==expanded">
    <header class="title">
        <h4 class="heading">Factor</h4>
        <h4 class="heading">{{type==='number'?'Weight':'Selection'}}</h4>
    </header>
    <ul class="params-list">
        <gd-param-item *ngFor="let fakeId of fakeArr; index as i;" [type]="this.type" [(value)]="this.values[i]" (valueChange)="this.valuesChange.emit(this.values)"
            [param]="this.params[i]" class="param-item" [range]="range">
        </gd-param-item>
    </ul>
</div>
<!-- end of weight-action-panel -->
<!-- opacity-action-panel -->
<div class="action-panel" [class.-expanded]="'opacity'==expanded">
    <label class="slider-label">
        Opacity:<span class="value">{{slider.value | percent:0}}</span>
        <input #slider class="slider" type="range" min="0" max="1" step="0.01" value="0.6" (mouseup)="opacityChange.emit(slider.value)">
    </label>
</div>
<!-- end of opacity-action-panel -->
<!-- model-actions -->
<span class="model-actions">
        <ng-container *ngFor="let action of optional">
            <button gdActionBtn [action]="action" [(expanded)]="this.expanded" [ngClass]="{'-disabled': !summary || !this.show, '-clicked': action==expanded}" [class]="'action -light icon-'+action">Model Summary</button>
        </ng-container>
    </span>
<!-- end of model-actions -->
<!-- summary-panel (optional) -->
<div *ngIf="summary" class="action-panel" [class.-expanded]="'summary'===expanded">
    <div *ngIf="isLoading" class="loading icon-loading animate-spin"></div>
    <table *ngIf="!isLoading" class="summary-table">
        <tbody *ngIf="name==='chatta'">
            <tr class="heading">
                <th></th>
                <th class="bold">Total Score</th>
                <th class="bold" style="text-align:right;">{{summary.total}}</th>
            </tr>
            <tr *ngFor="let param of params; index as i">
                <td style="text-align:right;">{{this.values[i]}}</td>
                <td>{{param | rejoin:"_" | titlecase}}</td>
                <td class="bold" style="text-align:right;">{{summary.layers[i]}}</td>
            </tr>
        </tbody>
        <tbody *ngIf="name==='creation-render'">
            <!-- point -->
            <ng-container *ngIf="summary.value">
                <tr class="heading">
                    <th></th>
                    <th class="bold">Elevation (m)</th>
                    <th class="bold" style="text-align:right;">{{summary.value}}</th>
                </tr>

            </ng-container>
            <!-- poly -->
                        <ng-container *ngIf="summary.mean">

            <tr class="heading">
                <th></th>
                <th class="bold">Average Elevation (m)</th>
                <th class="bold" style="text-align:right;">{{summary.mean}}</th>
            </tr>
            <tr class="heading">
                <th></th>
                <th class="bold">Minimum Elevation (m)</th>
                <th class="bold" style="text-align:right;">{{summary.min}}</th>
            </tr>
            <tr class="heading">
                <th></th>
                <th class="bold">Maximum Elevation (m)</th>
                <th class="bold" style="text-align:right;">{{summary.max}}</th>
            </tr>
                        </ng-container>

            <!-- <tr *ngFor="let param of params; index as i">
                    <td style="text-align:right;">{{this.values[i]}}</td>
                    <td>{{param | rejoin:"_" | titlecase}}</td>
                    <td class="bold" style="text-align:right;">{{summary.layers[i]}}</td>
                </tr> -->
        </tbody>

        <tbody *ngIf="name==='change-detection'">
            <!-- point -->
            <ng-container *ngIf="summary.value1">
                <tr *ngFor="let i of ['value1', 'value2']" class="heading">
                    <th></th>
                    <th class="bold">Snow {{i==='value1'?'On':'Off'}} Elevation (m)</th>
                    <th class="bold" style="text-align:right;">{{summary[i]}}</th>
                </tr>

            </ng-container>

            <!-- poly -->
            <ng-container *ngIf="summary.mean">
                <tr class="heading">
                    <th></th>
                    <th class="bold">Average Elevation (m)</th>
                    <th class="bold" style="text-align:right;">{{summary.mean}}</th>
                </tr>
                <tr class="heading">
                    <th></th>
                    <th class="bold">Minimum Elevation (m)</th>
                    <th class="bold" style="text-align:right;">{{summary.min}}</th>
                </tr>
                <tr class="heading">
                    <th></th>
                    <th class="bold">Maximum Elevation (m)</th>
                    <th class="bold" style="text-align:right;">{{summary.max}}</th>
                </tr>
                <tr class="heading">
                    <th></th>
                    <th class="bold">Volume Change (m3)</th>
                    <th class="bold" style="text-align:right;">{{summary.volume}}</th>
                </tr>
            </ng-container>
          
            <!-- <tr *ngFor="let param of params; index as i">
                        <td style="text-align:right;">{{this.values[i]}}</td>
                        <td>{{param | rejoin:"_" | titlecase}}</td>
                        <td class="bold" style="text-align:right;">{{summary.layers[i]}}</td>
                    </tr> -->
        </tbody>
    </table>
</div>
<!-- end of summary-panel (optional) -->